 .u-section-1 {
  min-height: 100vh;
}

.u-section-1 .u-sheet-1 {
  min-height: 924px;
}

.u-section-1 .u-text-1 {
  font-weight: bold;
  margin: 0 790px 0 0;
}

.u-section-1 .u-image-1 {
  width: 749px;
  height: 738px;
  margin: -262px 0 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: -370px 790px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: -10px 790px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 590px;
  }

  .u-section-1 .u-image-1 {
    height: 737px;
    margin-top: 184px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -633px;
    margin-right: 590px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 590px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 370px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 708px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 370px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 370px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 190px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 531px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 190px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 190px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: auto;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 521px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -33px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 334px;
    margin-top: 99px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: -401px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}