body {
  background: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  border: 0;
}

section p {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 10px;
  width: fit-content;
}

section h1 {
  border: 0;
  margin: 0;
  padding: 0;
  color: #060;
  width: fit-content;
}

section {
  height: fit-content;
  width: fit-content;
  margin: 0;
  padding: 0;
  border: 0;
  background: #999;
  clear: both;
}

.row {
  content: "";
  display: block;
  height: 80vh;
  box-sizing: border-box;
}

.col{
  float: left;
  padding: 0px;
  margin: 0px;
  border: 0px;
  height: inherit;
}

.signin{
  width: 20vw;
}

.intro{
  width: 75vw;
}

.row{
  content: "";
  display: table;
  clear: both;
}
